
<% @message.each do |message| %>
  <div class="col-md-4">
    <div class="message">
      <h1 class="message-title"><%= message.title %></h1>
      <%= link_to " View Message", message_path(message), class: "btn btn-default" %>
    </div>

    <%#= link_to "New Message",new_message_path %>
  </div>
<% end %>
